.home-container {
  background: url('../../../media/image/background_pattern.png');
  padding: 0px 0px 100px 0px;
}


.hero-banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.home-main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/* New overlay layer */
.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff; /* Light text for contrast */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.hero-buttons button {
  min-width: 170px;
  margin-top: 1rem;
}

.order-now-btn {
  background-color: var(--color-accent) !important;
  color: white !important;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.reserve-table-btn {
  background-color: var(--color-secondary-bg) !important;
  color: black !important;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
