.logout_modal_container {
  display: block;
  position: fixed;
  inset: 0; /* full screen */
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  backdrop-filter: blur(6px); /* glass blur effect */
  -webkit-backdrop-filter: blur(6px); /* for Safari */
  z-index: 9999; /* ensure it’s on top */
}
