.reserve-section{
    padding: 0px 48px 100px 48px;
}

.form-section{
    background-color: var(--color-primary-bg);
}
.form-section form{
    margin-top: 50px;
}

.form-section .input_style{
    margin-bottom: 20px;
}

.textarea-style{
    padding: 6px 12px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px ;
}


.react-datepicker-wrapper{
    width: 100%;
}

.select_date, .select_time{
    padding:6px 12px 6px 12px; 
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}


.reserve-btn{
    background-color: var(--color-accent);
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}   

.input_style{
    padding:6px 12px 6px 12px; 
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
}

.image-section img{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .reserve-section{
        padding: 0px 20px 20px 20rpx;
    }
}



.captcha-section .captcha-input{
    padding: 6px 12px 6px 12px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.captcha-section .refresh_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.captcha-image{
    background-color: white;
    
}